############################################
# Perception-TS-GPT - Environment Settings #
############################################

# Selected API endpoint
# Values: OpenRouter, OpenAI, Anthropic, local
LLM_API_ENDPOINT=OpenAI

# OpenRouter API Key - Required to use OpenRouter API
OPENROUTER_API_KEY=

# OpenAI API Key - Required to use OpenAI API
OPENAI_API_KEY=

# Anthropic API Key - Required to use Anthropic / Claude API
ANTHROPIC_API_KEY=

# Local Endpoint
LOCAL_API_ENDPOINT=
LOCAL_API_KEY=

# GITHUB_API_KEY - Github API key / PAT
# GITHUB_USERNAME - Github username
GITHUB_API_KEY=
GITHUB_USERNAME=

# GOOGLE_API_KEY - Google API key (Example: my-google-api-key)
# CUSTOM_SEARCH_ENGINE_ID - Custom search engine ID (Example: my-custom-search-engine-id)
GOOGLE_API_KEY=
CUSTOM_SEARCH_ENGINE_ID=

# Permissions

# EXECUTE_LOCAL_COMMANDS - Allow local command execution (Default: False)
# RESTRICT_TO_WORKSPACE - Restrict file operations to workspace ./auto_gpt_workspace (Default: True)
EXECUTE_LOCAL_COMMANDS=False
RESTRICT_TO_WORKSPACE=True
